@{
    ViewData["Title"] = "SowConnect";
}

<div class="text-center">
    <h1 class="display-4">SowConnect Financeiro</h1>
    <p>Cadastros e transferências</p>
</div>
<br />
<div class="text-center" style="color: #FFFFFF;">

    <a href="/Cadastro/Banco" class="btn btn-primary">Bancos</a>
    <a class="btn btn-primary">Clientes</a>
    <a class="btn btn-primary">Contas e Transferências</a>

</div>